.portfolio-footer {
  background-color: #fff;
  padding-bottom: 50px;

  .ft-center {
    max-width: 1860px;
    width: 95%;
    margin: 0 auto 20px;
    padding: 0 15px;
  }

  .ft-link-grp {
    padding-top: 35px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(#000, 0.5);

    .ft-link {
      position: relative;
      display: inline-block;
      margin-right: 15px;
      padding-right: 15px;
      font-size: 20px;
      font-weight: 200;
      color: #000;

      &:last-child {
        @include make-after {
          display: none;
        }
      }

      @include make-after {
        @include absolute(50%, auto, auto, 0);
        position: absolute;
        top: 50%;
        left: auto;
        // right: 0;
        width: 1px;
        height: 24px;
        background-color: #000;

        transform: translateY(-50%);
      }
    }
  }

  .copylight {
    font-size: 15px;
    font-weight: 200;
    color: #000;
  }
}
