.portfolio-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  transition: all 0.2s;

  &.is-scroll {
    overflow: hidden;
    height: 0;
    backdrop-filter: saturate(180%) blur(20px) brightness(0.9);
    transition: all 0.2s 0.15s;
  }

  &.is-color {
    background-color: rgba(#000, 0.1);

    .logo,
    .gnb-link {
      color: rgba(#000, 0.8) !important;
    }
  }

  .hd-center {
    width: 100%;
    height: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 15px;

    .hd-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  .logo {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    color: #fff;
  }

  .gnb-menu {
    display: flex;
    justify-content: flex-start;
    gap: 60px;

    .gnb-link {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      color: #fff;
    }
  }
}
