@charset "UTF-8";
/* =================== base =================== */
html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
hr,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans", sans-serif;
  word-break: break-all;
}

html,
body,
a,
address,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
menu,
menuitem,
nav,
ol,
optgroup,
option,
output,
p,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tspan,
u,
ul {
  stroke-width: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/* ie 화살표 제거 */
select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* vietnamese */
@font-face {
  font-family: "Manuale";
  font-style: italic;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X00eas_8Z-TFZdNPT-z-HC26UPedkt.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Manuale";
  font-style: italic;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X00eas_8Z-TFZdNPT-zuHC26UPedkt.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Manuale";
  font-style: italic;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X00eas_8Z-TFZdNPT-wOHC26UPeQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X20eas_8Z-TFZdNP7OwuvF-ac_eA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X20eas_8Z-TFZdNP_OwuvF-ac_eA.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manuale/v28/f0X20eas_8Z-TFZdNPHOwuvF-ac.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRxC7m0dR9pBOi.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRzS7m0dR9pBOi.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRxi7m0dR9pBOi.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6DRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr4TRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5DRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0,
    U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* greek-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6TRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5jRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
    U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6jRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6zRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5TRASf6M7Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXV0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXx0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXd0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXZ0ppC8MLnbtrVK.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXh0ppC8MLnbtg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w0aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w9aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w2aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w3aXp-p7K4KLjztg.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aXp-p7K4KLg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6DRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr4TRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5DRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0,
    U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* greek-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6TRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5jRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
    U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6jRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr6zRASf6M7VBj.woff2)
    format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
    U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v38/o-0IIpQlx3QUlC5A4PNr5TRASf6M7Q.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
/* =================== helper =================== */
.none {
  display: none;
}

.voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

.ls-0 {
  letter-spacing: 0;
}

@media all and (max-width: 600px) {
  .mb-hide {
    display: none !important;
  }
}

.mb-show {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;
}
@media all and (max-width: 600px) {
  .mb-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 900px) {
  .tab-hide {
    display: none !important;
  }
}

.tab-show {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;
}
@media all and (max-width: 900px) {
  .tab-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 360px) {
  .sm-hide {
    display: none !important;
  }
}

.sm-show {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show {
    display: block !important;
  }
}

.sm-show-flex {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.sm-show-ib {
  display: none !important;
}
@media all and (max-width: 360px) {
  .sm-show-ib {
    display: inline-block !important;
  }
}

@media all and (max-width: 320px) {
  .xsm-hide {
    display: none !important;
  }
}

.xsm-show {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show {
    display: block !important;
  }
}

.xsm-show-flex {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.xsm-show-ib {
  display: none !important;
}
@media all and (max-width: 320px) {
  .xsm-show-ib {
    display: inline-block !important;
  }
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.scroll-custom {
  overflow-y: auto;
}
.scroll-custom::-webkit-scrollbar {
  width: 5px;
}
.scroll-horizontal-img {
  -webkit-animation-name: horizontal-scroll;
  animation-name: horizontal-scroll;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-webkit-keyframes horizontal-scroll {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
}
@keyframes horizontal-scroll {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
  }
}

.scroll-vertical-img {
  -webkit-animation-name: vertical-scroll;
  animation-name: vertical-scroll;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes vertical-scroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
}

@keyframes vertical-scroll {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
  }
}
.ani-spin {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ani-trtr {
  -webkit-animation-name: trtr;
  animation-name: trtr;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes trtr {
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes trtr {
  10% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  90% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.portfolio-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-header.is-show {
  -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(0.9);
  backdrop-filter: saturate(180%) blur(20px) brightness(0.9);
}
.portfolio-header .hd-center {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.portfolio-header .hd-center .hd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.portfolio-header .logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.portfolio-header .gnb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 60px;
}
.portfolio-header .gnb-menu .gnb-link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.page {
  overflow: hidden;
  min-height: 100vh;
}

.l-center {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.icon-star {
  width: 63px;
  height: 63px;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.032 0.910676C30.5971 0.482024 31.2869 0.25 31.9961 0.25C32.7054 0.25 33.3952 0.482024 33.9603 0.910676C34.5254 1.33932 34.9347 1.94106 35.1259 2.62409C35.1291 2.6357 35.1322 2.64734 35.1352 2.65901L39.878 21.0631C40.0677 21.7985 40.451 22.4696 40.988 23.0066C41.525 23.5436 42.1961 23.9269 42.9315 24.1166L61.3356 28.8594L61.3642 28.867C62.05 29.0561 62.6547 29.4651 63.0857 30.031C63.5166 30.5969 63.75 31.2886 63.75 32C63.75 32.7113 63.5166 33.403 63.0857 33.9689C62.6547 34.5349 62.05 34.9438 61.3642 35.1329L61.3356 35.1406L42.9315 39.8833C42.1961 40.073 41.525 40.4563 40.988 40.9933C40.451 41.5304 40.0677 42.2015 39.878 42.9368L35.1322 61.3412C35.1292 61.3528 35.1261 61.3643 35.1229 61.3758C34.9317 62.0589 34.5224 62.6606 33.9573 63.0892C33.3922 63.5179 32.7024 63.7499 31.9931 63.7499C31.2839 63.7499 30.5941 63.5179 30.029 63.0892C29.4639 62.6606 29.0546 62.0589 28.8634 61.3758C28.8602 61.3642 28.857 61.3526 28.854 61.3409L24.1113 42.9368C23.9216 42.2015 23.5383 41.5304 23.0013 40.9933C22.4643 40.4564 21.7932 40.0731 21.0579 39.8834C21.0579 39.8834 21.058 39.8834 21.0579 39.8834L2.65343 35.1375C2.63976 35.134 2.62614 35.1303 2.61256 35.1264C1.93222 34.9333 1.33344 34.5236 0.907061 33.9593C0.480688 33.3951 0.25 32.7072 0.25 32C0.25 31.2927 0.480688 30.6048 0.907061 30.0406C1.33344 29.4764 1.93222 29.0666 2.61256 28.8735C2.62605 28.8697 2.63959 28.866 2.65317 28.8625L21.0577 24.1136C21.7928 23.9241 22.4641 23.541 23.001 23.0044C23.5379 22.4679 23.9213 21.7974 24.1114 21.0625C24.1115 21.0624 24.1114 21.0627 24.1114 21.0625L28.8571 2.65875C28.8601 2.64717 28.8632 2.63561 28.8664 2.62409C29.0576 1.94107 29.4669 1.33933 30.032 0.910676ZM31.9961 4.5029L36.4888 21.9369C36.8348 23.2779 37.5339 24.5022 38.5131 25.4815C39.4924 26.4607 40.7162 27.1597 42.0572 27.5056L59.4972 32L42.0577 36.4942C40.7167 36.8401 39.4924 37.5392 38.5131 38.5185C37.5339 39.4977 36.8349 40.7215 36.489 42.0625L31.9932 59.497L27.5004 42.063C27.1545 40.722 26.4554 39.4977 25.4761 38.5185C24.4969 37.5392 23.2731 36.8402 21.9321 36.4943L4.50279 31.9999L21.9318 27.5027C21.9317 27.5027 21.9319 27.5027 21.9318 27.5027C23.2722 27.1571 24.4959 26.4586 25.4751 25.4801C26.4543 24.5016 27.1535 23.2786 27.5001 21.9383L31.9961 4.5029Z' fill='%2334D399'/%3E%3C/svg%3E%0A");
}

.icon-arrow-wh {
  width: 58px;
  height: 66px;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='68' viewBox='0 0 60 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.1667 0.666708L25.8333 0.666707L25.8333 50.6667L17.5 50.6667L17.5 59L25.8333 59L25.8333 67.3334L34.1667 67.3334L34.1667 59L42.5 59L42.5 50.6667L34.1667 50.6667L34.1667 0.666708ZM50.8333 42.3334L50.8333 50.6667L42.5 50.6667L42.5 42.3334L50.8333 42.3334ZM50.8333 42.3334L50.8333 34L59.1667 34L59.1667 42.3334L50.8333 42.3334ZM9.16667 42.3334L9.16667 50.6667L17.5 50.6667L17.5 42.3334L9.16667 42.3334ZM9.16667 42.3334L9.16667 34L0.83334 34L0.833339 42.3334L9.16667 42.3334Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-arrow-right {
  width: 15px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8176 4.65294C10.9344 4.53465 11 4.37424 11 4.20697C11 4.03971 10.9344 3.87929 10.8176 3.761L7.29334 0.192575C7.23587 0.132327 7.16713 0.0842718 7.09112 0.0512123C7.01512 0.0181528 6.93337 0.000751455 6.85065 2.36262e-05C6.76793 -0.000704202 6.68589 0.0152562 6.60933 0.0469733C6.53277 0.0786903 6.46321 0.125529 6.40471 0.184756C6.34622 0.243984 6.29996 0.314413 6.26864 0.391936C6.23731 0.469459 6.22155 0.552522 6.22227 0.636279C6.22299 0.720035 6.24017 0.802809 6.27282 0.879768C6.30547 0.956728 6.35293 1.02633 6.41244 1.08452L8.87325 3.57617L0.62299 3.57617C0.457763 3.57617 0.299302 3.64263 0.182468 3.76093C0.0656355 3.87923 -1.68202e-07 4.03967 -1.75168e-07 4.20697C-1.82134e-07 4.37427 0.0656355 4.53471 0.182468 4.65301C0.299302 4.77131 0.457763 4.83777 0.622989 4.83777L8.87325 4.83777L6.41243 7.32942C6.29895 7.44839 6.23616 7.60773 6.23758 7.77312C6.239 7.93851 6.30452 8.09673 6.42002 8.21368C6.53553 8.33064 6.69178 8.39698 6.85513 8.39841C7.01848 8.39985 7.17585 8.33627 7.29334 8.22137L10.8176 4.65294Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-arrow-right-bk {
  width: 10px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8176 4.8463C10.9344 4.72801 11 4.56759 11 4.40033C11 4.23306 10.9344 4.07265 10.8176 3.95436L7.29334 0.385934C7.23587 0.325687 7.16713 0.277631 7.09112 0.244572C7.01512 0.211512 6.93337 0.194111 6.85065 0.193383C6.76793 0.192655 6.68589 0.208616 6.60933 0.240333C6.53277 0.27205 6.46321 0.318888 6.40471 0.378116C6.34622 0.437343 6.29996 0.507772 6.26864 0.585295C6.23731 0.662818 6.22155 0.745881 6.22227 0.829638C6.22299 0.913395 6.24017 0.996168 6.27282 1.07313C6.30547 1.15009 6.35293 1.21969 6.41244 1.27788L8.87325 3.76953L0.62299 3.76953C0.457762 3.76953 0.299302 3.83599 0.182469 3.95429C0.0656354 4.07259 -4.18953e-07 4.23303 -4.25919e-07 4.40033C-4.32885e-07 4.56763 0.0656353 4.72807 0.182469 4.84637C0.299302 4.96467 0.457762 5.03113 0.62299 5.03113L8.87325 5.03113L6.41243 7.52278C6.29895 7.64175 6.23616 7.80109 6.23758 7.96648C6.239 8.13187 6.30452 8.29009 6.42002 8.40704C6.53553 8.524 6.69178 8.59034 6.85513 8.59177C7.01848 8.59321 7.17585 8.52963 7.29334 8.41473L10.8176 4.8463Z' fill='black'/%3E%3C/svg%3E%0A");
}

body {
  background-color: #111;
}

.main-section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #000;
}
.main-section .main-video-grp {
  position: relative;
}
.main-section .main-video-grp::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}
.main-section .main-wrap {
  width: 950px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.main-section .main-wrap .txt-wrap {
  position: relative;
  line-height: 91px;
}
.main-section .main-wrap .main-txt {
  display: inline-block;
  font-family: "Manuale";
  font-weight: 400;
  font-size: 100px;
  color: #34d399;
}
.main-section .main-wrap .main-txt.first {
  display: block;
  padding-left: 31px;
}
.main-section .main-wrap .main-txt.third {
  padding-left: 53px;
}
.main-section .main-wrap .main-txt[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.main-section .main-wrap .main-txt.aos-animate[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.main-section .main-wrap .icon-star {
  position: absolute;
  top: 0;
  left: auto;
}
.main-section .main-wrap .mid-txt-grp {
  display: block;
  padding-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
}
.main-section .main-wrap .mid-txt-grp[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.main-section .main-wrap .mid-txt-grp.aos-animate[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.main-section .main-wrap .mid-txt-grp.aos-animate[data-aos="fade-up"] .line {
  width: 267px;
}
.main-section .main-wrap .mid-txt-grp .type-mid-01 {
  padding-right: 300px;
  font-family: "Manuale";
}
.main-section .main-wrap .mid-txt-grp .type-mid-02 {
  font-family: "Manuale";
}
.main-section .main-wrap .mid-txt-grp .line {
  position: absolute;
  top: 60px;
  left: 150px;
  width: 0;
  height: 7px;
  background-color: #fff;
  -webkit-transition: all 0.6s 1s !important;
  transition: all 0.6s 1s !important;
}
.main-section .btn-arrow-wh {
  width: 56px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.main-section .btn-arrow-wh .icon-arrow-wh[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
.main-section .btn-arrow-wh .icon-arrow-wh.aos-animate[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.intro-section {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.intro1-section-01 {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  min-width: 1920px;
  height: 100vh;
}
.intro1-section-01 .profile-grp-01 {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 60px;
  width: 0;
  height: 700px;
  -webkit-transition: ease-in-out 0.5s 0.05s;
  transition: ease-in-out 0.5s 0.05s;
}
.intro1-section-01 .profile-grp-01.is-active {
  width: 1200px;
}
.intro1-section-01 .profile-grp-01 .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro1-section-01 .intro-txt-grp {
  position: absolute;
  top: auto;
  right: 180px;
  left: auto;
  bottom: 60px;
  width: 550px;
  text-align: right;
  line-height: 194px;
}
.intro1-section-01 .intro-txt-grp .txt {
  font-size: 200px;
  font-family: "Manuale";
  font-weight: 300;
  color: #fff;
}
.intro1-section-01 .intro-txt-grp .txt.green {
  color: #34d399;
}

.intro-section-02 {
  z-index: -1;
  position: relative;
  height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  background-color: #111;
}
.intro-section-02 .content-wrap {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 96px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.intro-section-02 .profile-grp-02 {
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 600px;
  height: 700px;
}
.intro-section-02 .profile-grp-02 .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.intro-section-02 .txt-grp {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 480px;
}
.intro-section-02 .txt-grp .txt {
  word-break: keep-all;
  line-height: 32px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.intro-section-02 .txt-grp .btn-round-wh {
  margin-top: 40px;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.intro-section-02 .txt-grp .icon-arrow-right-bk {
  padding-left: 25px;
}

.change {
  background-color: #111;
}

.about-section {
  z-index: 1;
  position: relative;
  padding: 100px 0;
}
.about-section .profile-grp {
  -ms-flex-preferred-size: 372px;
  flex-basis: 372px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.about-section .profile-grp .img-grp {
  width: 372px;
  height: 372px;
}
.about-section .profile-grp .img-grp .img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.about-section .profile-grp .profile-txt {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}
.about-section .profile-grp .more-view {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.about-section .profile-grp .more-view .icon-arrow-right {
  margin-left: 5px;
  vertical-align: -1px;
}
.about-section .info-wrap {
  margin-bottom: 80px;
}
.about-section .info-title {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.about-section .info-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 15px;
}
.about-section .info-grp:last-child {
  margin-bottom: 0;
}
.about-section .info-left {
  -ms-flex-preferred-size: 230px;
  flex-basis: 230px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.about-section .info-left .info-item {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.7883px;
  color: #fff;
}
.about-section .info-left .info-detail {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.about-section .info-right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.about-section .info-right .info-period {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3964px;
  text-align: left;
  color: #fff;
}
.about-section .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.about-section .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: lightgray;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.passion-section {
  height: 100vh;
  padding-top: 430px;
}
.passion-section .passion-txt {
  font-family: "Noto sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.7062px;
  text-align: center;
  color: #b5b5b5;
}
