// cursor-small-dot
.cursor-small-dot {
  z-index: 3;
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: rgba(#ffffff, 0.8);
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
  pointer-events: none;

  &.is-hover {
    width: 50px;
    height: 50px;
  }
}

// btn-top
.btn-top {
  z-index: 2;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--white-color);
  filter: drop-shadow(5px 5px 10px rgba(#000000, 0.1));

  @include tablet {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 20px;
  }

  &:hover {
    .icon-arrow-top {
      animation-name: vertical-scroll-up;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: backwards;
    }
  }

  .icon-arrow-top {
    @include tablet {
      width: 15px;
      height: 27px;
    }
  }
}

// loader
.loader {
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1c1c1c;
  transition: transform 1s cubic-bezier(0.41, 0.34, 0.11, 1.38);
  transform-origin: center top;

  &.is-ready {
    transform: translateY(-100%);

    + .intro-section .intro-title {
      transform: translateY(0);
    }
  }
}

// intro-section
.intro-section {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);

  .intro-wrapper {
    position: relative;
    height: 100%;
  }

  .bg-img-grp {
    @include full;

    .img {
      @include full;

      object-fit: cover;
    }
  }

  .obj-img-grp {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 750px;
    height: 683px;
    transform: translate(-60%, -53%);

    @include tablet {
      width: 73%;
      height: auto;
      max-width: none;
      transform: translate(-50%, -50%);
    }

    .img {
      @include full;

      object-fit: contain;
    }
  }

  .intro-title-grp {
    overflow: hidden;
    max-width: 74vw;
    // max-width: 1058px;
    // max-width: clamp(300px, 75vw, 1058px);
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);

    @include tablet {
      max-width: 600px;
    }
    @include mobile {
      max-width: none;
      line-height: 1.1;
      transform: translate(-50%, -50%);
    }

    .intro-title {
      display: inline-block;
      width: 50%;
      font-family: "Ubuntu Sans";
      font-size: 4.7vw;
      font-weight: 800;
      letter-spacing: -0.3px;
      color: var(--white-color);

      @include tablet {
        font-size: 40px;
      }

      @include mobile {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10vw;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(#000, 0.2);
      }

      &.right {
        text-align: right;

        @include mobile {
          text-align: center;
        }
      }
    }
  }

  .scroll-grp {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -150%);

    .scroll {
      position: relative;
      width: 30px;
      height: 50px;
      margin: 0 auto 10px;
      border: 3px solid rgba(#ffffff, 0.7);
      border-radius: 20px;

      @include mobile {
        width: 20px;
        height: 33px;
        margin-bottom: 7px;
        border-width: 2px;
      }

      @include make-before {
        position: absolute;
        top: 10px;
        left: 43%;
        width: 3px;
        height: 17px;
        border-radius: 1.5px;
        background-color: var(--white-color);
        transform: translateX(-50%);
        animation-name: vertical-scroll;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;

        @include mobile {
          width: 2px;
          height: 11px;
        }
      }
    }

    .scroll-txt {
      font-size: 16px;
      font-weight: 500;
      color: var(--white-color);

      @include mobile {
        font-size: 12px;
      }
    }
  }
}

// contents-wrap
.contents-wrap {
  padding-top: 100vh;
  width: 100%;

  @include mobile {
  }
}

// about-section
.about-section {
  background-color: var(--black-color);

  .about-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    width: 1000px;
    margin: 0 auto;
    padding: 190px 15px 0;

    @include tablet {
      width: auto;
      flex-direction: column;
      gap: 50px;
      padding: 80px 15px 0;
    }
  }

  .about-title-grp {
    position: sticky;
    top: 200px;
    height: 185px;
    flex-grow: 1;

    @include tablet {
      position: static;
      height: auto;
    }
  }

  .title-grp {
    display: flex;
  }

  .rolling-title-grp {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;

    @include mobile {
      height: 40px;
    }

    .rolling-title {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-family: "Ubuntu Sans";
      font-size: 40px;
      font-weight: 700;
      color: var(--white-color);
      transform: translateY(-100%);
      transition: opacity 0.8s ease, transform 0.8s ease;

      @include mobile {
        font-size: 10vw;
      }

      &.is-active {
        opacity: 1;
        transform: translateY(0);
      }

      &.is-exiting {
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }

  .title {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    color: var(--white-color);

    @include mobile {
      font-size: 10vw;
    }
  }

  .btn-about {
    margin-top: 20px;
    padding: 8px 20px 12px;
    border-radius: 50px;
    background-color: var(--white-color);
    font-size: 18px;
    color: var(--black-color);
    font-weight: 500;

    @include mobile {
      margin-top: 15px;
      padding: 7px 15px 9px;
      font-size: 16px;
    }

    &:hover {
      outline: 2px solid var(--white-color);
      background: transparent;
      color: var(--white-color);
      animation: move 2.5s infinite;
    }
  }

  .about-intro-title {
    @include make-before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: var(--white-color);
      transform: translateY(-50%);
    }

    position: relative;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    color: var(--white-color);
  }

  .about-grp {
    flex-grow: 1;
    max-width: 680px;

    @include tablet {
      max-width: none;
    }

    .skill-img-wrap {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px 20px;
      max-width: 475px;
      margin-bottom: 50px;

      @include tablet {
        gap: 5px 15px;
        margin-bottom: 30px;
      }

      .img-grp {
        width: 100%;
        height: 35px;
        margin-top: 10px;
        flex-basis: 35px;
        flex-shrink: 0;
        filter: grayscale(1);
        transition: all 0.25s ease-out;

        @include mobile {
          height: 25px;
          flex-basis: 25px;
        }

        &:hover {
          filter: none;
        }

        .img {
          @include full;

          object-fit: contain;
        }
      }
    }

    .txt-grp {
      display: inline-block;
      margin-bottom: 100px;
      text-align: justify;

      @include mobile {
        margin-bottom: 60px;
      }

      .txt {
        background: linear-gradient(to right, #ffffff) no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 0%;
        font-size: 28px;
        font-weight: 300;
        font-weight: 400;
        line-height: 1.5;
        color: rgb(182, 182, 182, 0.5);
        transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

        @include mobile {
          // font-size: 5.2vw;
          font-size: clamp(18px, 5.2vw, 20px);
        }
      }
    }

    .about-item-grp {
      margin-bottom: 70px;

      @include mobile {
        margin-bottom: 60px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .about-title {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 700;
      color: var(--white-color);

      @include mobile {
        margin-bottom: 15px;
        font-size: 30px;
      }
    }

    .org-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 410px;
      width: 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      @include mobile {
        margin-bottom: 8px;
      }
    }

    .org-title {
      font-size: 22px;
      font-weight: 400;
      color: var(--white-color);

      @include mobile {
        font-size: 16px;
      }
    }

    .org-detail {
      margin-top: 3px;
      font-size: 16px;
      font-weight: 400;
      color: var(--white-color);

      @include mobile {
        margin-top: 1px;
        font-size: 12px;
      }
    }

    .period {
      font-size: 16px;
      font-weight: 400;
      color: var(--white-color);

      @include mobile {
        font-size: 14px;
      }
    }
  }
}

// visual-section
.visual-section {
  .visual-inner {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 15px;
    line-height: 150px;

    @include mobile {
      max-width: none;
    }

    .visual-wrap {
      z-index: 1;
      position: relative;
    }

    .visual-grp-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;
      height: 13vh;
      // height: 100px;

      @include tablet {
        // height: 14vh;
        height: clamp(9vh, 9rem, 14vh);
      }

      @include mobile {
        height: 47px;
      }

      .img {
        @include full;

        object-fit: contain;
      }
    }

    .visual-txt {
      display: inline-flex;
      flex-shrink: 0;

      .visual-txt-inner {
        overflow: hidden;
        display: flex;

        .txt {
          opacity: 0;
          display: inline-block;
          font-size: clamp(40px, 7.3vw, 140px);
          font-weight: 700;
          letter-spacing: -4px;
          color: var(--white-color);
          transform: translateY(100%);

          @include tablet {
            font-size: clamp(40px, 13.6vw, 140px);
            letter-spacing: 0;
            transform: translateY(50%);
          }

          @include mobile {
            font-size: 55px;
            font-size: clamp(41px, 13vw, 82px);
            transform: translateY(26%);
          }
        }

        .blank {
          padding-right: 40px;
        }
      }
    }

    .visual-line-grp {
      overflow: hidden;
      width: 100%;
      max-width: 18vw;

      @include tablet {
        max-width: 23vw;
      }
    }

    .visual-line {
      display: block;
      width: 100%;
      height: 10px;
      background-color: var(--white-color);
      white-space: nowrap;

      @include tablet {
        height: 3.5px;
      }
    }

    .visual-icon-grp {
      overflow: hidden;
    }

    .visual-icon {
      width: 2.7vw;
      height: 2.7vw;
      line-height: 50%;

      &.type-01 {
        width: 3.9vw;
        height: 3.9vw;
      }

      .ani-spin02 {
        transform: translateX(-100%);
      }

      &.is-active {
        .ani-spin02 {
          transform: translateX(0);
        }
      }
    }

    .visual-video {
      overflow: hidden;

      &.second {
        // @include tablet {
        //   flex-shrink: 0;
        // }
      }
    }

    .visual-video-inner {
      overflow: hidden;
      width: 100%;
      height: 100%;
      min-width: 20vw;
      max-height: 8vh;

      @include tablet {
        min-width: 30vw;
        max-height: 10vh;
      }

      @include mobile {
        max-height: 33px;
        min-width: 10vw;
      }

      &.second {
        max-width: 21vw;

        @include tablet {
          max-width: 59vw;
        }
      }

      .img {
        @include full;

        object-fit: contain;

        @include tablet {
          vertical-align: top;
        }
      }
    }

    .visual-arrow-grp {
      overflow: hidden;
      max-width: 26vw;
      width: 100%;
    }

    .visual-arrow {
      position: relative;
      width: 100%;
      padding-top: 23.2%;
    }
  }

  .visual-symbol-grp {
    @include full;

    z-index: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    max-height: 870px;
    transform: translate(-50%, -50%);

    .visual-symbol {
      position: absolute;

      &.type-01 {
        top: 20px;
        left: 200px;
        width: 154px;
        height: 219px;

        @include tablet {
          width: 15vw;
          height: 16vh;
        }
      }

      &.type-02 {
        top: 80px;
        right: 100px;
        width: 106px;
        height: 203px;

        .img {
          transform: rotate(-15deg);
        }
      }

      &.type-03 {
        bottom: 50px;
        left: 140px;
        width: 218px;
        height: 218px;
      }

      &.type-04 {
        bottom: 7vh;
        right: 14vw;
        width: 212px;
        height: 212px;
      }

      .img {
        @include full;

        object-fit: contain;
      }
    }
  }
}

// works-section
.works-section {
  padding-top: 100px;

  @include mobile {
    padding-top: 30px;
  }

  .works-inner {
    max-width: 1860px;
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;

    @include mobile {
      width: 100%;
      max-width: none;
    }
  }

  .line {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1px;
    height: 400px;
    transition: all 0.5s;

    @include tablet {
      height: 240px;
      transition-duration: 0.1s;
    }

    @include mobile {
      height: 100px;
    }

    @include make-before {
      position: absolute;
      top: 0;
      bottom: 150px;
      left: 50%;
      width: 1px;
      height: 0;
      background-color: var(--white-color);
      transition: all 0.5s 0.5s;
      transform: translateX(50%);
    }

    &.is-active {
      @include make-before {
        height: 400px;

        @include tablet {
          height: 240px;
        }

        @include mobile {
          height: 100px;
        }
      }
    }

    &.is-active {
      height: 400px;

      @include tablet {
        height: 240px;
      }

      @include mobile {
        height: 100px;
      }
    }
  }

  .works-intro-title {
    position: relative;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    color: var(--white-color);

    @include tablet {
      font-size: 80px;
    }

    @include mobile {
      font-size: 30px;
      font-size: 13vw;
    }
  }

  .works-btn-more {
    display: block;
    width: 130px;
    margin: 0 auto 300px;
    position: relative;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);

    @include tablet {
      margin-bottom: 200px;
    }

    @include mobile {
      width: 95px;
      margin-bottom: 80px;
      font-size: 14px;
    }

    @include make-before {
      position: absolute;
      top: auto;
      left: auto;
      width: 0;
      height: 1px;
      background-color: var(--white-color);
      transition: all 0.15s;
    }

    &:hover {
      cursor: pointer;

      @include make-before {
        width: 100%;
      }
    }
  }

  .works-link {
    display: grid;
    grid-template-columns: 10fr 20fr 40fr;
    align-items: center;
    height: 400px;
    border-top: 1px solid rgba(#ffffff, 0.2);
    transition: all 0.2s;

    @include mobile {
      grid-auto-flow: column;
      grid-template-columns: none;
      grid-template-rows: 1fr 1.3fr 5fr;
      height: auto;
      padding: 25px 5px;
    }

    &:hover {
      background-color: rgba(#ffffff, 0.1);
      .title {
        transform: translateY(-170%) skew(0, 15deg);
      }

      .title:nth-child(2) {
        transform: translateY(-100%) !important;
      }
    }
  }

  .works-num {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: var(--white-color);

    @include mobile {
      font-size: 14px;
      text-align: left;
    }
  }
  .works-title {
    overflow: hidden;
    position: relative;
    width: calc(10rem + 100px);
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    transition: transform 0.7s, color 0.7s;

    @include mobile {
      width: 100%;
      font-size: 20px;
    }

    .title {
      display: inline-block;
      width: calc(100% + 30px);
      transition: transform 0.7s, color 0.7s;

      @include tablet {
        width: 100%;
      }
    }

    .title:nth-child(2) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transform: translateY(70%) skew(0, 15deg);

      @include mobile {
        display: none;
      }

      @include make-after {
        position: absolute;
        left: 135px;
        top: 50%;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.1849 6.36183L5.00994 6.36183C4.10868 6.36183 3.35269 6.05646 2.74195 5.44572C2.13122 4.83499 1.82691 4.08005 1.82903 3.18091C1.83115 2.28177 2.13652 1.52684 2.74513 0.916102C3.35374 0.305367 4.10868 -1.56886e-06 5.00994 -1.52946e-06L36.8191 -1.39042e-07C37.7203 -9.96469e-08 38.4753 0.305368 39.0839 0.916104C39.6925 1.52684 39.9979 2.28178 40 3.18091V34.9901C40 35.8913 39.6946 36.6473 39.0839 37.258C38.4732 37.8688 37.7182 38.1731 36.8191 38.171C35.9199 38.1689 35.164 37.8635 34.5511 37.2549C33.9382 36.6463 33.6339 35.8913 33.6382 34.9901V10.8151L5.32803 39.1252C4.74487 39.7084 4.00265 40 3.10139 40C2.20013 40 1.45792 39.7084 0.874756 39.1252C0.291588 38.5421 0 37.7999 0 36.8986C0 35.9973 0.291588 35.2551 0.874756 34.672L29.1849 6.36183Z' fill='white'/%3E%3C/svg%3E");
        background-size: contain;
        transform: translateY(-50%);
      }
    }
  }

  .works-desc-grp {
    width: 65%;

    @include tablet {
      width: 100%;
    }
  }

  .works-desc {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    color: var(--white-color);

    @include mobile {
      font-size: 16px;
    }
  }

  .works-skill-grp {
    margin-top: 5px;
  }

  .works-skill {
    margin-right: 10px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(#ffffff, 0.5);

    @include mobile {
      margin-right: 7px;
      font-size: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// text-section
.text-section {
  padding: 275px 0 200px;
  transition: all 0.15s;

  @include mobile {
    padding: 30px 0;
  }

  .text-title-grp {
    margin-bottom: 280px;

    @include mobile {
      margin-bottom: 50px;
    }

    .text-title {
      overflow: hidden;
      display: block;
      text-align: center;
      font-family: "Ubuntu Sans";
      font-size: 60px;
      font-weight: 700;
      color: var(--black-color);

      @include mobile {
        font-size: 30px;
        font-weight: 800;
      }
    }

    .line {
      @include make-after {
        position: absolute;
        left: 50%;
        width: 1px;
        height: 0;
        transition: all 0.25s ease-in 0.3s;
        transform: translateX(-50%);
      }

      position: relative;
      display: block;
      height: 290px;
      margin: 20px auto;

      @include mobile {
        height: 150px;
      }

      &.is-active {
        @include make-after {
          height: 290px;
          background-color: var(--black-color);

          @include mobile {
            height: 150px;
          }
        }
      }
    }
  }
}

// horizon-section
.horizon-section {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .horizon-grp {
    display: flex;
    justify-content: flex-start;

    .horizon-img-grp {
      overflow: hidden;
      position: relative;
      flex: 1 0 100%;
      width: 100vw;
      height: 100vh;
    }

    .horizon-img {
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 436px;
      height: 523px;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      transition: transform 1s ease;

      @include mobile {
        width: 50vw;
        height: 40vh;
        border-radius: 7px;
      }

      .img {
        @include full;

        object-fit: cover;
      }
    }
    .horizon-txt-grp {
      flex: 1 0 100%;
      width: 100vw;
      height: 100vh;
      padding-bottom: 135px;
      padding-right: 50px;
      background-color: var(--white-color);

      @include tablet {
        padding-right: 20px;
        padding-bottom: 85px;
      }
    }

    .horizon-txt {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      line-height: 1.3;

      .txt {
        overflow: hidden;
        opacity: 0;
        display: block;
        height: 82px;
        font-family: "Ubuntu Sans";
        font-size: 80px;
        font-weight: 600;
        line-height: 0.9;
        text-align: right;
        color: rgba(182, 182, 182, 0.4);

        @include mobile {
          height: auto;
          line-height: 1.2;
          letter-spacing: -0.4px;
          font-size: 9.5vw;
          font-weight: 700;
        }

        .point {
          color: #343434;
        }
      }
    }
  }
}

// contact-section
.contact-section {
  padding: 200px 0 300px;
  background-color: var(--black-color);

  @include tablet {
    padding: 80px 0 50px;
  }

  .contact-wrap {
    display: flex;
    justify-content: center;
    gap: 200px;
    gap: 10vw;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
      flex-direction: column;
      gap: 30px;
      max-width: none;
    }
  }

  .contact-left {
    .contact-title {
      display: block;
      margin-bottom: 20px;
      font-family: "Ubuntu Sans";
      font-size: 70px;
      font-weight: 700;
      color: var(--white-color);

      @include tablet {
        font-size: 5rem;
        font-weight: 800;
      }

      @include mobile {
        margin-bottom: 12px;
        font-size: 4rem;
      }
    }

    .contact-info-grp {
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 30px;

        @include tablet {
          margin-bottom: 10px;
        }
      }
    }

    .contact-link-grp {
      .contact-link {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        .img {
          @include full;

          object-fit: contain;
        }
      }
    }

    .contact-label {
      margin-right: 10px;
      font-family: "Ubuntu Sans";
      font-size: 18px;
      font-weight: 600;
      color: rgba(#fff, 0.5);

      @include tablet {
        font-size: 14px;
      }
    }

    .contact-info {
      font-family: "Ubuntu Sans";
      font-size: 18px;
      font-weight: 500;
      color: var(--white-color);

      @include tablet {
        font-size: 14px;
      }
    }
  }

  .contact-right {
    flex-grow: 1;

    .btn-more {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7px;
      width: 100%;
      margin-top: 20px;
      padding: 18px 0;
      border-radius: 5px;
      background-color: var(--white-color);
      font-size: 18px;
      font-weight: 800;
      color: var(--black-color);

      @include tablet {
        gap: 3px;
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
